.end-form-contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}

input {
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 20rem;
  padding: 10px;
  font-size: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
#usuario {
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}
#texto-final {
  font-size: 28px;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}
#guardarPuntaje:hover {
  background: rgb(255, 230, 0);
  cursor: pointer;
  transition: transform 150ms;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  box-shadow: 0 0.4rem 1.4rem 0px 0px rgba(0, 114, 244, 0.6);
  -webkit-transition: transform 150ms;
  -moz-transition: transform 150ms;
  -ms-transition: transform 150ms;
  -o-transition: transform 150ms;
}
.btn {
  border: 1px solid black;
  background: rgb(176, 164, 189);
  width: 100%;
  padding: 10px;
  margin: 6px;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: black;
}
a {
  color: black;
}
.parrafo--score {
  font-size: 60px;
  color: black;
  font-weight: bold;
}
#texto-final {
  font-size: 50px;
  margin-bottom: 20px;
  color: rgb(128, 128, 128);
  text-align: center;
}
#usuario {
  border-color: rgb(8, 8, 8);
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
  text-align: center;
}
.btn:hover {
  background: rgb(105, 105, 105);
  cursor: pointer;
  transition: transform 150ms;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  box-shadow: 0 0.4rem 1.4rem 0px 0px rgba(0, 114, 244, 0.6);
  -webkit-transition: transform 150ms;
  -moz-transition: transform 150ms;
  -ms-transition: transform 150ms;
  -o-transition: transform 150ms;
}
