* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-image: url("../asset/img/wp1949787.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor {
  width: 98vw;
  height: 97vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 15px;
  padding: 10px;
  font-size: 80px;
}

#quiz {
  width: 98vw;
  height: 97vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.encabezado {
  background: aliceblue;
  min-width: 300px;
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
}

.categoria {
  opacity: 0.4;
  text-align: left;
}

a {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 10px;
  text-decoration: none;
}
a button {
  background: rgb(176, 164, 189);
  width: 220px;
  padding: 10px;
  margin: 6px;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

a button:hover {
  background: rgb(105, 105, 105);
  cursor: pointer;
  transition: transform 150ms;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  box-shadow: 0 0.4rem 1.4rem 0px 0px rgba(0, 114, 244, 0.6);
  -webkit-transition: transform 150ms;
  -moz-transition: transform 150ms;
  -ms-transition: transform 150ms;
  -o-transition: transform 150ms;
}

a button[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

#puntaje {
  background: rgb(255, 230, 0);
}

#puntaje:hover {
  box-shadow: 0 0.4rem 1.4rem 0px 0px rgba(255, 255, 0, 0.6);
}
