<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAME</title>
</head>
<body>
    <header>
        <h1>Concurso de Preguntas y Respuestas</h1>
    </header>
    <main>
        


        
        

    </main>
    <footer>
        <!-- Progreso y barra de progreso -->
        <div>
            <p id="progreso">
                Pregunta 1 de x
            </p>
            <div id="barraProgreso">
                <div id="barraProgresoLlena"></div>
            </div>
        </div>
        <!-- Puntuación -->
        <div class="display">
            <p class="puntuacion">
                Puntuación: 
            </p>
            <h1 class="puntuacionCantidad" id="puntos">
                0
            </h1>
        </div>
        <!-- Boton para terminar el juego --> 
        <div>
            <button class="btn" id="terminarJuego" type="submit" onclick="terminarJuego()">Terminar el juego</button>
        </div>
    </footer>
   
</body>
</html>