<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PUNTAJES ALTOS</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/highScore.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="../asset/icons/33756_mario_question_icon.png"
      type="image/png"
    />
  </head>
  <body>
    <div class="contenedor">
      <div id="puntajesAltos">
        <h1 id="puntajeFinal">High Score</h1>
        <ul id="listaPuntajesAltos"></ul>
        <a href="./" class="btn"><b>Ir al Inicio</b></a>
      </div>
    </div>
    <script src="./js/highScore.js"></script>
  </body>
</html>
