<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MENU</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="../asset/icons/33756_mario_question_icon.png"
      type="image/png"
    />
  </head>
  <body>
    <!-- Página de inicio -->
    <div class="contenedor">
      <div id="inicio">
        <h1>Estás listo(a) para jugar?</h1>
        <a href="../template/game.html"><button>Jugar</button></a>
        <a href="../template/highScore.html"
          ><button id="puntaje-alto">Puntajes más altos</button></a
        >
      </div>
    </div>
  </body>
</html>
